@import "tailwindcss";

:root {
  --background: #f5f1ea;
  --foreground: #2d2a26;

  --card: #ffffff;
  --muted: #7d766d;

  --primary: #6f9075;
  --primary-hover: #628268;

  --border: #e7dfd3;

  --soft-green: #edf4ec;
  --soft-beige: #faf7f2;

  --danger: #d96b6b;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  background: var(--background);
  color: var(--foreground);

  font-family:
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

  -webkit-font-smoothing: antialiased;
}

button {
  font-family: inherit;
}

textarea,
input {
  font-family: inherit;
}

body {
  overflow-x: hidden;
}